/.kiro
/.venv
/.vscode
/1.json
/data
__pycache__/
*.pyc
logs
notebooks
plugins
warehouse
note.txt
tmp
test.py
# run
.agent
docs
docs_for_my_prj
dbt_project/dbt_packages/dbt_utils
.md
.dbtignore
dbt_profiles
jars
dbt_packages
__init__.py
cv.tex
docs_for_my_prj.txt
run
test.json